.nav
  = link_to("new task", :controller => :tasks, :action => :new)

%table
  %tr
    %th Task
    %th Expected
    %th Actual
    %td
    %td

  - @tasks.each do |task|
    %tr
      %td
        = task.description
      %td
        = task.expected
      %td
        = task.actual
      %td
        = link_to("edit", edit_task_url(task.id))
      %td
        = link_to("delete", task_url(task), :method => :delete)

