.nav
  = link_to("new task", :controller => :tasks, :action => :new)

%table
  %tr
    %th Task
    %th Expected
    %th Actual
    %td
    %td

  - @tasks.each do |task|
    %tr
      %td
        = task.description
      %td
        = task.expected
      %td
        = task.actual
      %td
        = "edit" #link_to("edit", :controller => :tasks, :action => :edit)
      %td
        = "delete" #link_to("delete", :controller => :tasks, :action => :delete)

